[submodule "node_modules/crafity-core"]
	path = node_modules/crafity-core
	url = https://github.com/Crafity/crafity-core.git
[submodule "node_modules/crafity-process"]
	path = node_modules/crafity-process
	url = https://github.com/Crafity/crafity-process.git
[submodule "node_modules/crafity-logging"]
	path = node_modules/crafity-logging
	url = https://github.com/Crafity/crafity-logging.git
